################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineStore/.vs/OnlineStore
OnlineStore/obj/Debug/net8.0/OnlineStore.AssemblyInfo.cs
OnlineStore/obj/Debug/net8.0/OnlineStore.AssemblyInfoInputs.cache
OnlineStore/obj/
OnlineStore/bin/
OnlineStore/Backend/OnlineStore/obj
.vs/OnlineStore/v17/.futdcache.v2
.vs/OnlineStore/DesignTimeBuild/.dtbcache.v2
